#mathematics
{
    background-image:  url("../pics/math.jpg");
    background-size: cover; 
    font-family:fantasy;
    color:antiquewhite
}

#mathematics table,#mathematics td
{
    border:3px solid white;
}

#mathematics a
{
    color: antiquewhite
}


#ComputerScience
{
    background-image:  url("../pics/computer.jpg");
    background-size: cover;
    font-family:fantasy;
    color:antiquewhite
        
}

#ComputerScience table,#ComputerScience td
{
    border:3px solid white;
}

#ComputerScience a:visited
{
    color:cadetblue
}

#ComputerScience a:link 
{
    color: antiquewhite
}


#studioArt
{
    background-image:  url("../pics/art.jpg");
    background-size: 500px;
    font-family:fantasy;
    color:darkblue
        
}

#studioArt table,#studioArt td
{
    border:3px solid blue;
    background-color: aliceblue
}

#studioArt a
{
    color: darkblue
}

#Economics
{
    background-image:  url("../pics/economics.jpg");
    background-size: 1000px;
    font-family:fantasy;
    color:gray
        
}

#Economics table,#Economics td
{
    border:3px solid white;
}

#Economics a
{
    color: gray
}

#Politics
{
    background-image:  url("../pics/politics.jpg");
    background-size: 500px;
    font-family:fantasy;
    color:antiquewhite
        
}

#Politics table,#Politics td
{
    border:3px solid white;
}

#Politics a
{
    color: antiquewhite
}

#homepage
{
    background-image: url("../pics/index.jpg");
    font-family: fantasy;
}