#studioArt table, #studioArt td
{
    border:3px solid black;
}

#studioArt {
    
    background-image: url("../pics/flower.png"), repeating-linear-gradient(pink,red);
    background-size: 1000px;
    background-blend-mode: overlay;
    
    font-family: sans-serif;
    font-style: normal;
    color: whitesmoke
}

#studioArt a:visited
{
    color: darkslateblue
}

#studioArt a:link 
{
    color: darkblue
}




#Economics table, #Economics td
{
    border:3px solid black;
    background-color: cadetblue
}

#Economics {
    
    background-image: url("../pics/stonks.png"), repeating-linear-gradient(green,orange);
    background-size: 200px;
    background-blend-mode: luminosity;
    
    font-family: sans-serif;
    font-style: normal;
    color: moccasin
}

#Economics a:visited
{
    color: whitesmoke
}

#Economics a:link 
{
    color:aliceblue
        
        
        
}

#Politics table, #Politics td
{
    border:3px solid black;
}

#Politics {
    
    background-image: url("../pics/politics.png"), repeating-linear-gradient(red,blue);
    background-blend-mode: hard-light;
    background-size: 100px;
    font-family: sans-serif;
    font-style: normal;
    color: moccasin
}

#Politics a:visited
{
    color: darksalmon
}

#Politics a:link 
{
    color: cyan
}



#ComputerScience table, #ComputerScience td
{
    border:3px solid black;
}

#ComputerScience {
    
    background-image: repeating-linear-gradient(green,black), url("../pics/compsci.png");
    background-size: 1000px;
    background-blend-mode:hard-light;
    
    font-family: sans-serif;
    font-style: normal;
    color:cyan
}

#ComputerScience a:visited
{
    color: darksalmon
}

#ComputerScience a:link 
{
    color: cyan
}

#Mathematics table, #Mathematics td
{
    border:3px solid black;
    background-color:dimgray;
}

#Mathematics {
    
    background-image: repeating-linear-gradient(blue,yellow), url("../pics/math.png");
    background-size: 1000px;
    background-blend-mode:hard-light;
    
    font-family:serif;
    font-style:normal;
    color:beige
}

#Mathematics a:visited
{
    color: darksalmon
}

#Mathematics a:link 
{
    color: antiquewhite
}

#homepage
{
    background-image: url("../pics/homepage.jpg");
    font-family: fantasy;
}


